.csrbackground {
	background-size: cover;
	height: 400px;
	position: relative;
}

.bgimg {
	width: 100%;
	height: 400px;
	object-fit: cover;
	background: #000;
}
.image {
	position: relative;
}
.image {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%);
	z-index: 100;
}
.csrbackground::after {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	background-color: rgb(22, 22, 22, 0.8);
	height: 400px;
	width: 100%;
}
